
<div>
    <footer class=" text-center fixed-bottom">
    <div class="  pb-0">
    <div class="text-center p-3 bg-dark" style="color: white;">
     &copy <a class="text-light copy" href="https://chaturvediishika.github.io/PORTFOLIO/">Ishika Chaturvedi</a>
     & <a class="text-light copy" href="https://anikateagrawal.github.io/My-Resume/">Anikate Agrawal</a>
    </div>
    </div>
</footer> 
</div>
