
<div>
    <footer class="bg-light text-center fixed-bottom">
    <div class="  pb-0">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    <a class="text-dark copy" href="https://anikateagrawal.github.io/My-Resume/">Anikate Agrawal</a> & <a class="text-dark copy" href="https://chaturvediishika.github.io/PORTFOLIO/">Ishika Chaturvedi</a>
    </div>
    </div>
</footer> 
</div>
