<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
    <a class="navbar-brand">Daily Journal</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto">
        <li class="nav-item">
            <a class="nav-link h" aria-current="page" href="/journal">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link h" href="/journal/about">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link h" href="/journal/contact">Contact</a>
        </li>
        <li class="nav-item">
            <a class="nav-link h" href="/journal/compose">Compose</a>
        </li>
        
        </ul>
        <%if(!user){%>
            <ul class="navbar-nav d-flex">
                <li class="nav-item">
                    <a class="nav-link h" href="/signup">SignUp</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link h" href="/login">LogIn</a>
                </li>
            </ul>
        <%}else{%>
            <ul class="navbar-nav d-flex">
                <li class="nav-item">
                    <a class="nav-link h" href="#"><%=user.username%></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link h" href="/logout">LogOut</a>
                </li>
            </ul>
        <%}%>
        
    </div>
    </div>
</nav>